@import '../../styles/breakpoints.module';


.container{
    
    display: grid;
    align-items: center;
    justify-content: center;

    .rowCol{
        display: grid;
        align-items: center;
        justify-content: center;
        width: 800px;
        
        -webkit-box-shadow: -2px 1px 5px 11px rgba(0,0,0,0.75);
        -moz-box-shadow: -2px 1px 5px 11px rgba(0,0,0,0.75);
         box-shadow: -2px 1px 5px 11px rgba(0,0,0,0.75);
         border-radius: 20px;

         @include breakpointdown(msmall){
            padding-inline:50px ;
         }
    
    .top{
        text-align: center;
        font-weight: bold;
        margin-top: 25px;
    }


.table{
    max-width: 100%;
    border-collapse: separate;
    
   


    .theadi{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .t_header_text{
        //font-weight:bolder;
        font-size:larger;
        
    }
   
    .table_row{
       
        padding: 25px;
        justify-content: space-between;
        border-radius: 17px;
        background: #e0e0e0;
        -webkit-box-shadow: 0px 5px 20px 11px rgba(0,0,0,0.82);
        -moz-box-shadow: 0px 5px 20px 11px rgba(0,0,0,0.82);
        box-shadow: 0px 5px 20px 11px rgba(0,0,0,0.82);
        
        td{
            max-width: fit-content;
            border-spacing: 5em;
            margin: 15px;
            padding-bottom: 10px;
            font-weight: 500;
            font-size: 1.7rem;

            @include breakpoint(msmall){
                font-size: clamp(17px, 1.5vw, 1rem)
            }
        }
    }
}

}
}