.container {
    height: 100vh;
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr;
   
.logo{
    background: rgb(139, 130, 130);
    padding: 15vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    
    height: 8vh;

    .headea{
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: white !important;
      margin-bottom: 5wh;

      .cls_logo{
        font-size: xx-large;
      }
     

    }
    }
  
  
  .main {
   margin-top: 5vh;
    
  }

  .footer{
    justify-content: center;
   margin-top: 3vh;
   min-width: 100% !important;
   background: gray;
   text-align: center;
   padding: 10vw;
   color: white;

   .wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: none;
   .contact{
    display: flex !important;
    width: 255px;
    justify-content: space-between;
    font-weight: 800;
   
    
    .social{
     font-size: x-large;
    }
   }
  }
   
  }
  
  
  
}
  