.searchForms{
    padding: 5px;
    margin: 5px;
    width: 90%;
    background-color: RGB(237 242 247);
    margin-inline: auto;
   

    input{
       
        border: none;
        border-radius: 20px;
        width: 80%;
        background-color: inherit;
        outline: none;

       
    }
}