body{
    

    .light{

        .text{
            color: #000;
        }

        .background{
            background-color: white;
        }

    }


    .dark{

        .text{
            color: white;
        }

        .background{
            background-color: #000;
        }


    }
}